:root{
    --darkBlue: #55198b;
    --white:#fff;
}
*{
    padding :0;
    margin :0;
 box-sizing: border-box;   
}
.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
   flex-wrap: nowrap;
}
.heading{
    background-color:var(--darkBlue) ;
    color:var(--white) ;
    border-radius: 5px;
    /* width: 40%;
    margin: 0 auto; */
}
.border{
    background-color: var(--white);
    color: var(--darkBlue);
}
.btn{
    color: var(--darkBlue) !important;
    background-color: var(--white) !important;
    border-color: var(--darkBlue) !important;
}
#get{
    color: var(--white);
    background-color: var(--darkBlue);
    border-radius: 5px;
}
.btn:focus{
    box-shadow: 0 0 0 0.25rem var(--darkBlue) !important;
}
